/bazel-*
rust/target/
python/.venv/
web/node_modules/
web/package-lock.json
web/console/dist/
web/console/test-results/
web/console/playwright-report/
web/.vite/
/.idea
__pycache__/
*.pyc
.DS_Store
.build
/rust-project.json
/.rules_rust_analyzer/
/.vscode/.rules_rust_analyzer/
xscope.code-workspace
